// LIGHT VERSION
$primary-color: #2a27c9;
$secondary-color: #4745d0;
$text-color: #7780a1;
$title-color: #060714;
$title-second-color: #bbc0d0;
$border-grey-color: #e2e2ed;
$background-grey-color: #f2f3f6;
$primary-font: "Sora", sans-serif;
$secondary-font: "Inter", sans-serif;
$wrapper: 1920px;
$container: 1280px;
