.footer 
    .container.footer-container
        .footer-left 
            .footer-left-logo
                .footer-left-image 
                    img(src="../images/footer-logo.png", alt="")
                h2.title.footer-left-title NFT Market
            .footer-left-helpers 
                a.text.footer-left-helper(href="#") Support
                a.text.footer-left-helper(href="#") Term of service 
                a.text.footer-left-helper(href="#") License
        .footer-center
            .footer-center-menu 
                a.title.footer-center-item(href="#") Auctions  
                a.title.footer-center-item(href="#") Roadmap
                a.title.footer-center-item(href="#") Discover
                a.title.footer-center-item(href="#") Community 
            button.btn.btn-primary My account
            .footer-center-social 
                i.text.fab.fa-square-facebook 
                i.text.fab.fa-linkedin 
                i.text.fab.fa-square-github 
                i.text.fab.fa-square-twitter  
                i.text.fab.fa-square-instagram 
        .footer-right
            p.text.footer-right-content Nibh volutpat, aliquam id sagittis elementum. Pellentesque laoreet velit, sed egestas in. Id nam semper dolor tellus vulputate eget turpis. 
            .footer-right-sign 
                input.footer-right-sign-input(type="text" placeholder="Newsletter") 
                button.btn.footer-right-sign-btn Sign in


                
