.sapien 
    .container.sapien-container.habitant-container
        .sapien-right 
                img(src="./images/habitant.png", alt="")
        .sapien-left 
            p.text.sapien-heading overline 
            h2.title.sapien-title Habitant tristique aliquam in vel scelerisque
            p.text.sapien-desc Ut amet vulputate faucibus vitae semper eget auctor. Diam tempor pulvinar ultricies dolor feugiat aliquam commodo.
            .habitant
                .habitant-left 
                    i.fa.fa-desktop.habitant-icon
                    h3.title.habitant-title Sollicitudin sapien
                    p.text.habitant-content Cursus fermentum
                .habitant-left 
                    i.fa.fa-anchor.habitant-icon
                    h3.title.habitant-title Sollicitudin sapien
                    p.text.habitant-content Cursus fermentum

            .sapien-buttons 
                button.btn.btn-primary Get started 
                button.btn Learn More 
        