.header 
    .header-top  
        .header-logo 
            i.fa.fa-bars.header-toggle
            ul.header-menu
                li.header-menu-item 
                    a.header-menu-link.title(href="product.html") Auctions
                li.header-menu-item 
                    a.header-menu-link.title(href="#") Roadmap
                li.header-menu-item 
                    a.header-menu-link.title(href="#") Discovery
                li.header-menu-item 
                    a.header-menu-link.title(href="#") Community
                li.header-menu-item 
                    a.header-menu-link.title(href="#") Contact
            .header-image 
                img(src="../images/header-logo.png", alt="")
            h3.title.header-name NFT Market
        .header-feature 
            a.title.header-feature-item(href="product.html") Auctions  
            a.title.header-feature-item(href="#") Roadmap  
            a.title.header-feature-item(href="#") Discovery   
            a.title.header-feature-item(href="#") Community
        .header-function
            button.header-function-btn.btn.contact-btn Contact 
            button.header-function-btn.btn.btn-primary My account 
    .header-content 
        h3.header-NFT.text Non Fungible Tokens 
        .header-slogan.title 
            .header-slogan-top 
                span A new NFT
                img(src="../images/header-frame.png", alt="").header-slogan-image.header-slogan-image--top
            .header-slogan-bottom 
                img(src="../images/header-frame2.png", alt="").header-slogan-image.header-slogan-image--bottom
                span Experience
        h3.header-desc.text Discover, collect and sell 

        .header-search 
            input(type="text" placeholder="Items, collections and creators").header-search-input.text
            h4.header-search-category 
                span.text Category 
                i.fa.fa-angle-down
            i.fa.fa-search.header-search-icon

        .header-branch 
            img(src="../images/header-branch.png", alt="")
