.hottest 
    .container.hottest-container
        .hottest-left 
            .hottest-left-wrapper
                h3.title.hottest-left-title Check out the hottest Sale offers
                .hottest-left-list 
                    .hottest-left-item 
                        .hottest-left-container 
                            +mainItem(false, "./images/lastest-Itemproduct1.png", "Fames habitasse risus ultricies tortor sit", false, "3.19 ETH", "22:59", "35 people are bidding",false) 
                    .hottest-left-item 
                        .hottest-left-container 
                            +mainItem(false, "./images/lastest-Itemproduct2.png", "Fames habitasse risus ultricies tortor sit", false, "3.19 ETH", "22:59", "35 people are bidding",false) 
                    .hottest-left-item 
                        .hottest-left-container 
                            +mainItem(false, "./images/lastest-Itemproduct3.png", "Fames habitasse risus ultricies tortor sit", false, "3.19 ETH", "22:59", "35 people are bidding",false) 
            button.btn.hottest-left-btn Show me more 
        .hottest-center 
            .hottest-center-image 
                img(src="./images/hot-Item3.png", alt="Error")
            .hottest-center-content
                h3.title.hottest-center-title Get started creating & selling your NFTs  
                p.text.hottest-center-desc Nunc gravida faucibus netus feugiat tellus, viverra massa feugiat. Mi est sit.
                button.btn.btn-primary.hottest-center-btn Get started 
        .hottest-right 
            h3.hottest-right-title Top NFT at a lower price
            .hottest-right-list 
                .hottest-right-item 
                    +mainItem(true, "./images/lastest-Itemproduct1.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
                .hottest-right-item 
                    +mainItem(true, "./images/lastest-Itemproduct2.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
                .hottest-right-item 
                    +mainItem(true, "./images/lastest-Itemproduct3.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
                .hottest-right-item 
                    +mainItem(true, "./images/lastest-Itemproduct4.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
                .hottest-right-item 
                    +mainItem(true, "./images/lastest-Itemproduct5.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
                .hottest-right-item 
                    +mainItem(true, "https://images.unsplash.com/photo-1464820453369-31d2c0b651af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFuZG9tfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
                .hottest-right-item 
                    +mainItem(true, "https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
                .hottest-right-item 
                    +mainItem(true, "https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmFuZG9tfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
                .hottest-right-item 
                    +mainItem(true, "https://images.unsplash.com/photo-1623241187960-4a57f68560ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHJhbmRvbXxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
                .hottest-right-item 
                    +mainItem(true, "https://images.unsplash.com/photo-1531525645387-7f14be1bdbbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHJhbmRvbXxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding",false)
            button.btn.hottest-right-btn Show me more
                
