.sapien 
    .container.sapien-container.invite-container
        .sapien-left 
            p.text.sapien-heading overline 
            h2.title.sapien-title Cursus vitae sollicitudin donec nascetur. Join now
            p.text.sapien-desc Ut amet vulputate faucibus vitae semper eget auctor. Diam tempor pulvinar ultricies dolor feugiat aliquam commodo.
            .sapien-buttons 
                button.btn.btn-primary Get started 
                button.btn Learn More 
        .sapien-right.invite-image 
            img(src="./images/Usersinvite.png", alt="")