.latest
    h2.title.latest-heading Latest live auctions
        .latest-list
            .latest-item
                .latest-container
                    +mainItem(false, "./images/lastest-Itemproduct1.png", "Vulputate felis purus viverra morbi", true, "3.19 ETH", "2:41 mins left", "35 people are bidding",true, 120) 
                        +socialPeople
            .latest-item 
                .latest-container
                    +mainItem(false, "./images/lastest-Itemproduct2.png", "Vulputate felis purus viverra morbi", true,  "3.19 ETH", "2:41 mins left", "35 people are bidding",true, 120) 
                        +socialPeople
            .latest-item 
                .latest-container
                    +mainItem(false, "./images/lastest-Itemproduct3.png", "Vulputate felis purus viverra morbi", true, "3.19 ETH", "2:41 mins left", "35 people are bidding",true, 120) 
                        +socialPeople
            .latest-item 
                .latest-container
                    +mainItem(false, "./images/lastest-Itemproduct4.png", "Vulputate felis purus viverra morbi",true,  "3.19 ETH", "2:41 mins left", "35 people are bidding",true, 120) 
                        +socialPeople
            .latest-item 
                .latest-container
                    +mainItem(false, "./images/lastest-Itemproduct5.png", "Vulputate felis purus viverra morbi",true,  "3.19 ETH", "2:41 mins left", "35 people are bidding",true, 120) 
                        +socialPeople
            .latest-item 
                .latest-container
                    +mainItem(false, "https://images.unsplash.com/photo-1502230831726-fe5549140034?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHJhbmRvbXxlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60", "Vulputate felis purus viverra morbi",true,  "3.19 ETH", "2:41 mins left", "35 people are bidding",true, 120) 
                        +socialPeople
            .latest-item 
                .latest-container
                    +mainItem(false, "https://images.unsplash.com/photo-1509114397022-ed747cca3f65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmFuZG9tfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60", "Vulputate felis purus viverra morbi",true,  "3.19 ETH", "2:41 mins left", "35 people are bidding",true, 120) 
                        +socialPeople
            .latest-item 
                .latest-container
                    +mainItem(false, "https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmFuZG9tfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=500&q=60", "Vulputate felis purus viverra morbi",true,  "3.19 ETH", "2:41 mins left", "35 people are bidding",true, 120) 
                        +socialPeople
        
        