.latest
    h2.title.latest-heading Latest live auctions
    .latest-list 
        +latestItem 
        +latestItem("./images/lastest-Itemproduct2.png") 
        +latestItem("./images/lastest-Itemproduct3.png") 
        +latestItem("./images/lastest-Itemproduct4.png") 
        