.popular.more 
    .container.popular-wrapper.more-wrapper
        p.text.popular-subheading overline 
        h3.title.popular-title More form this author
        .popular-content.more-content  
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item1.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item2.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item3.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item4.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item5.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", true) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item6.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
                     
        button.btn.popular-btn Show me more
