.number 
    .container.number-container 
        .number-item 
            i.fa.fa-user.number-icon 
            h2.title.number-count 300k
            p.text.number-content User Active
        .number-item 
            i.fa.fa-podcast.number-icon 
            h2.title.number-count 300k
            p.text.number-content User Active
        .number-item 
            i.fa.fa-palette.number-icon 
            h2.title.number-count 17,5k
            p.text.number-content Artists
        .number-item 
            i.fa.fa-wallet.number-icon 
            h2.title.number-count 300k
            p.text.number-content User Active