.popular 
    .container.popular-wrapper
        p.text.popular-subheading overline 
        h3.title.popular-title Most popular live auctions
        .popular-category 
            p.title.popular-category-item Architecture
            p.title.popular-category-item Photography
            p.title.popular-category-item Games
            p.title.popular-category-item Music
        .popular-content 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item1.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item2.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item3.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item4.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item5.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", true) 
            .popular-item
                .popular-container 
                    +mainItem(false, "./images/pop-Item6.png", "Vulputate felis purus viverra morbi", false, "3.19 ETH", "22:59", "35 people are bidding", false) 
                     
        button.btn.popular-btn Show me more
