.product
    .container.product-container 
        .product-social 
            .product-social-container 
                i.fa-solid.fa-heart 
            .product-social-container 
                i.fa.fa-file 
            .product-social-container 
                i.fa.fa-share-nodes 
        .product-image 
            img(src="./images/product.png", alt="")
            .product-image-maximize 
                i.fa.fa-heart
        .product-content 
            h2.title.product-heading Dui accumsan leo vestibulum ornare
            p.text.product-desc Ut amet vulputate faucibus vitae semper eget auctor. Diam tempor pulvinar ultricies dolor feugiat aliquam commodo.
            .product-info 
                .product-author 
                    .product-author-image 
                        img(src="./images/product-author.png", alt="")
                    .product-author-info 
                        p.text Creator 
                        h4.title @brook_sim
                .product-collection 
                    .product-collection-image 
                        img(src="./images/product-collection.png", alt="")
                    .product-collection-info 
                        p.text Collection 
                        h4.title Afterlife
            .product-bidding 
                .product-bidding-container 
                    .product-bidding-left 
                        p.text.product-bidding-text Current price 
                        h3.title 5.25  
                        span.title  ETH 
                    .product-bidding-right 
                        p.text.product-bidding-text Time left 
                        h4.title 22:59 min
                        h5.text (01.01.2022 - 01:40:47)
                button.btn.btn-primary.product-bidding-button Place a bid 
            .product-chart 
                p.text.product-chart-heading History of bids (12 people are bidding)
                .product-chart-image 
                    img(src="./images/product-chart.png", alt="")    
        