.invite {
    &-container {
        margin-top: 15rem;
        background-color: $background-grey-color;
        padding: 90px 0 90px 120px;
        border-radius: 2rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    @include maxWidth(1023px) {
        &-container {
            padding: 40px 0 40px 60px;
            margin-top: 0;
        }
    }
    @include maxWidth(767px) {
        &-container {
            padding: 20px 0 20px 20px;
        }
        &-image {
            margin-top: 2rem;
        }
    }
}
