.popular {
    &-wrapper {
        @include flex(column, flex-start, center);
        margin-bottom: 10rem;
        padding-bottom: 10rem;
        border-bottom: 1px solid $border-grey-color;
    }
    &-subheading {
        text-transform: uppercase;
        font-weight: 500;
        font-style: 15px;
        line-height: 18px;
        letter-spacing: 3px;
        color: $title-second-color;
    }
    &-title {
        margin-top: 16px;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
    }
    &-category {
        margin-top: 40px;
        @include flex(row, center, center);
        margin-left: -16px;
        flex-wrap: wrap;
        margin-bottom: 72px;
        &-item {
            margin-bottom: 1rem;
            margin-left: 16px;
            color: $text-color;
            font-size: 16px;
            line-height: 20px;
            padding: 8px;
            border: 2px solid #e2e2ed;
            border-radius: 8px;
        }
    }
    &-content {
        padding: 0 2rem;
        @include flex(row, center, center);
        margin-left: -24px;
        flex-wrap: wrap;
    }
    &-item {
        width: calc(16.66% - 24px);
        margin-left: 24px;
        max-width: 500px;
    }
    &-item .main-image {
        height: unset;
    }
    &-btn {
        margin-top: 72px;
    }
    @include maxWidth(1023px) {
        &-wrapper {
            margin-bottom: 5rem;
            padding-bottom: 5rem;
        }
        &-content {
            padding: 15px;
        }
        &-item {
            width: calc(33.33% - 24px);
            margin-bottom: 3rem;
        }
        &-btn {
            margin-top: 3rem;
        }
    }
    @include maxWidth(767px) {
        &-wrapper {
            margin-bottom: 3rem;
            padding-bottom: 3rem;
        }
        &-category {
            width: 80%;
            margin-bottom: 40px;
        }
        &-content {
            margin-left: -10px;
        }
        &-item {
            width: calc(50% - 10px);
            margin-left: 10px;
            margin-bottom: 3rem;
        }
        &-btn {
            margin-top: 2rem;
        }
    }
}
