extends layout/layout

block vars
    -title = 'Welcome to NFT Product market'
    -bodyClass = 'product-page'
block header 
    include ./blocks/headerLayout
block container
    include ./blocks/product
    include ./blocks/more
    
    
